<!--Title-->
<h2 class="text-center">Green River Instructor Evaluation</h2>

<div class="row text-center">
  <!--Instructor Name-->
  <div class="col-xs-12 col-sm-6" id="evaluation-header-instructor"></div>
  <!--Course, Quarter, and Year-->
  <div class="col-xs-12 col-sm-6" id="evaluation-header-course">
    <p>{{"" . @info.name}}</p>
    <p>{{" - " . @info.quarter . " Quarter "}}</p>
    <p>{{" - " . @info.year}}</p>
  </div>
</div>
<!--Disclaimer-->
<div class="row">
  <div class="col-xs-12">
    <p>
      <small>We want to assure you that your responses are completely anonymous. Responses to
             anonymous surveys cannot be traced back to the respondent. No personally identifiable
             information is captured unless you voluntarily offer personal or contact information in
             any of the comment fields. Additionally, your responses are combined with those of many
             others and summarized in a report to further protect your anonymity.
      </small>
    </p>
  </div>
</div>
