<footer class="navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <!--Links-->
        <p class="text-center">
          <a href="http://greenriver.edu/" target="_blank">Green River College</a>&nbsp;|&nbsp;
          <a href="http://www.greenriver.edu/about-us/website/privacy-notice.htm" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;
          <a class="foot-link" href="http://www.greenriver.edu/student-affairs/financial-aid/ethical-principles-and-code-of-conduct.htm" target="_blank">Code of Conduct</a>
        </p>
      </div>
      <div class="col-xs-12">
        <!--Copyright Info-->
        <p class="text-center title-text">&copy; 2016 Green River College Technology Program</p>
      </div>
    </div>
  </div>
</footer>